{% extends 'base.html.twig' %}

{% block title %}

    {# DocInTime - Find a Doctor, now. [Reservation] #}
    DocInTime - Trouver un Docteur, maintenant. [Réservation]

{% endblock %}

{% block content %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        <div class="alert alert-success" role="alert">
            <span id="logged">Vous êtes bien connecté en tant que {{ app.user.firstname }} {{ app.user.lastname }}</span>
            <label for="logged" class="small font-italic float-right">(Ce n'est pas vous ? <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>)</label> {# TODO : Disconnection Link#}
        </div>

        <div class="payment text-center">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
            <div class="card w-100 bg-light mb-3 border-dark" style="width: 18rem;">
                <div class="card-header">
                    Récapitulatif Rendez-vous
                </div>
                <div class="card-body">
                    <h5 class="card-title">Dr. {{ appointment.doctor.lastName }} </h5>
                    <h6 class="card-subtitle mb-2 text-muted"> {{ appointment.StartTime | date("H:i") }} - {{ appointment.EndTime | date("H:i") }} </h6>
                    <p class="card-text"> {{ appointment.office.address.toAddressString() }} <br/>
                        Spécialités :
                        {% set doctor_specialities = [] %}
                        {% for speciality in appointment.doctor.specialities %}
                            {% set doctor_specialities = doctor_specialities|merge([speciality.name]) %}
                        {% endfor %}
                        {{ doctor_specialities|join(' - ') }}
                        <br/>
                        {{ appointment.Description }}
                    </p>
                    <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#paymentModal">
                        Valider et procéder au Paiement (virtuel)
                    </button>
                </div>
            </div>
            </div>
            <div class="col-sm"></div>
        </div>


            <!-- Button trigger modal -->


            <!-- Modal -->
            <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="paymentModalLabel">Réservation - Paiement (virtuel)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Important</h5>
                            <p>Une fois la réservation effectuée, vous ne pourrez plus revenir en arrière, vous devrez
                                honorer ce rendez-vous.</p>
                            {# TODO : Rules, Conditions Générales, Infos, etc #}
                            <hr>
                            <h5>Informations</h5>
                            <p>Par respect du secret médical, aucun autre détail ne vous sera demandé par le site.</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{{ path('appointments_reservation_result') }}" method="post">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <input type="hidden" name="paymentSuccessful" value="{{ appointment.ID }}">
                                <button type="submit" class="btn btn-success">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#<br/><br/><br/><br/><br/><br/>#}
        {#{ dump(app.user) }#}
        {#{ dump(app.user.hasBillingInfo) }#}
        {# TODO : VERIFICATION -> BILLING INFO #}

    {% else %}

        <div class="alert alert-warning" role="alert">
            Veuillez vous connecter pour réserver ce rendez-vous (obligation légale : informations de facturation)
            Please login yourself to reserve/book/hold this appointment (legal obligation : billing informations)
        </div>

    {% endif %}

    <div class="btn-group menu-bottom acentrer">
        <a href="{{ path('appointments_details', {'id': appointment.ID}) }}" role="button" class="btn btn-secondary">Retourner aux détails du RDV</a>
        <a href="{{ app.request.get('back') }}" role="button" class="btn btn-danger">Retourner à la liste des RDVs</a>
        {# TODO : Garder la recherche en mémoire ? Trouver un moyen de revenir à la même recherche ? #}
    </div>

{% endblock %}