{% extends 'base.html.twig' %}

{% block title %}

    {# DocInTime - Find a Doctor, now. [Reservation - Success] #}
    DocInTime - Trouver un Docteur, maintenant. [Réservation - Succès]

{% endblock %}

{% block content %}



        {#{ dump(appointment) }#}
        {# TODO : Recap Infos RDV #}
    <div class="text-center card border-success mb-3">
        <div class="card-header text-white bg-success border-success">
            <span class="fa fa-warning"></span> Votre rendez-vous a été payé et réservé !
        </div>
        <div class="card-body text-success">
            Rendez vous à <strong> {{ appointment.StartTime | date("H:i") }} </strong> ! <br/>
            Dr. {{ appointment.doctor.lastName }} (  {% set doctor_specialities = [] %}
            {% for speciality in appointment.doctor.specialities %}
                {% set doctor_specialities = doctor_specialities|merge([speciality.name]) %}
            {% endfor %}
            {{ doctor_specialities|join(' - ') }} )  <br/>
            {{ appointment.office.address.toAddressString() }}
        </div>
    </div>

    <div class="btn-group menu-bottom">

            <a href="{{ path('user_appointments') }}" class="btn btn-primary">Voir la liste de vos RDVs</a>
            <a href="{{ path('appointments_results') }}" role="button" class="btn btn-danger">Retourner à la recherche de RDVs</a>

    </div>

{% endblock %}