{% extends "base.html.twig" %}

{% block title %}

    DocInTime - Find a Doctor, now. [Add an Appointment]

{% endblock %}

{% block content %}

    <div class="create_multiple form">
        {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.date) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.startTime) }}
            </div>
            <div class="col">
                {{ form_row(form.endTime) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.NbCrenaux) }}
            </div>

            <div class="col">
                {{ form_row(form.DureeCrenaux) }}
            </div>

        </div>
        <div class="row">
            <div class="col">
            {{ form_row(form.submit) }}
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}



        </div>



















    </div>

{% endblock %}



