{% extends 'base.html.twig' %}

{% block title %}

    DocInTime - Find a Doctor, now. [Details]

{% endblock %}

{% block content %}

    {% if appointment is defined %}

        <p>
            [ Afficher Infos Médecin & RDV]
            {{ appointment.ID }}
            {{ appointment.Date }}
            {{ appointment.StartTime }}
            {{ appointment.EndTime }}
            {{ appointment.Description }}
        </p>

        <a href="{{ path('appointments.reservation', {'slug': article.ID}) }}" class="btn btn-lg btn-primary">Réserver ce RDV</a>

    {% else %}

        <p>[ Bootstrap : Error - No Appointment with this id / No Appointment selected ]</p>

    {% endif %}

    <a href="{{ path('appointments.results') }}" class="btn btn-lg btn-primary">Retourner à la liste des RDVs</a>
    {# TODO : Garder la recherche en mémoire ? Trouver un moyen de revenir à la même recherche ? #}

{% endblock %}