{% extends 'base.html.twig' %}

{% block title %}

    DocInTime - Find a Doctor, now. [Details]

{% endblock %}

{% block content %}

    {% if appointment is defined %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

            <a href="{#{ path('appointment.reservation', {'id': appointment.ID}) }#}" role="button" class="btn btn-primary">Passer au Paiement</a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Paiement (virtuel)
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            Hi {{ app.user.username }}
            {{ dump(app.user) }}
            {#{ dump(app.user.hasBillingInfo) }#}
            {# TODO : PAIEMENT VIRTUEL #}

        {% else %}

            <p>Veuillez vous connecter pour réserver ce RDV (obligation légale : informations de facturation)</p>

        {% endif %}

        <p>
        <h1>[ Afficher Infos Médecin & RDV]</h1><br/>
        {{ appointment.ID }}<br/>
        {{ appointment.Date | date("F jS \\a\\t g:ia") }}<br/>
        {{ appointment.StartTime | date("F jS \\a\\t g:ia") }}<br/>
        {{ appointment.EndTime | date("F jS \\a\\t g:ia") }}<br/>
        {{ appointment.Description }}<br/>
        </p>

        <div class="btn-group">
        <a href="{{ path('appointments.details', {'id': appointment.ID}) }}" role="button" class="btn btn-secondary">Retourner aux détails du RDV</a>

    {% else %}

        <p>[ Bootstrap : Error - No Appointment with this id / No Appointment selected ]</p>
        <div class="btn-group">

    {% endif %}

    <a href="{{ path('appointments.results') }}" role="button" class="btn btn-danger">Retourner à la liste des RDVs</a>
    {# TODO : Garder la recherche en mémoire ? Trouver un moyen de revenir à la même recherche ? #}
    </div>

{% endblock %}