{% block content %}

    {% for appointment in appointments %}
    <h1>Créneaux disponibles à partir de {{ startTime|date('H\\hi') }}</h1>
    <div>
        Dr. {{ appointment.doctor.lastName }}
        <div>{{ appointment.office.name }}</div>
        <div>{{ appointment.office.address.toAddressString }}</div>
        <div>De {{ appointment.startTime|date('H\\hi') }} à {{ appointment.endTime|date('H\\hi') }}</div>
    </div>
    {% endfor %}

{% endblock %}