{% block content %}
    <div class="result">
    <div class="row">
        <div class="col-8">
            {% for appointment in appointments %}
                <a class="lien" href="{{ path('appointments.details', { 'id': appointment.id }) }}"
                   data-lat="{{ appointment.office.address.latitude }}"
                   data-lon="{{ appointment.office.address.longitude }}">
                <div class="element">
                    <div class="image">
                        <img class="img-fluid img-thumbnail" src="{{ appointment.office.doctor.avatar.url }}" alt="Card image cap">
                    </div>
                    <div class="content">
                        <div class="float-left">
                            <div class="name">
                                Dr. {{ appointment.doctor.lastName }}
                            </div>
                            <div class="spe">
                                {% set doctor_specialities = [] %}

                                {% for speciality in appointment.doctor.specialities %}
                                    {% set doctor_specialities = doctor_specialities|merge([speciality.name]) %}
                                {% endfor %}
                                {{ doctor_specialities|join(' - ')}}
                            </div>
                        </div>
                        <div class="float-right">
                            <div class="hour">
                                {{ appointment.startTime|date('H:i') }}
                            </div>
                            <div class="distance">
                                {{ appointment.distanceToUser|round(2) }} km
                            </div>
                        </div>
                    </div>
                </div>
            </a>

    {% endfor %}
        </div>
        <div class="col-4">
            <div id="map" style="width: 100%;height: 300px;"
                 ></div>
        </div>
    </div>
    </div>
	
{% endblock %}