<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DocInTime - Find a Doctor, now.{% endblock %}</title>
        {% block stylesheets %}

            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

            <!-- CSS : Bootstrap (4.0.0-beta.2) -->
            <link rel="stylesheet" href={{ asset('/assets/css/bootstrap.css') }}>
            <!-- CSS : FontAwesome (4.7.0) -->
            <link rel="stylesheet" href={{ asset('/assets/css/font-awesome.css') }}>
            <!-- CSS : Our own CSS -->
            <link rel="stylesheet" href={{ asset('/assets/css/global.css') }}>

        {% endblock %}
    </head>
    <body>
        <header id="header">
            <img src="/assets/images/logo.png" alt="logo" id="logo">
            <nav id="nav">
                <ul>
                    <li><a href="{{ path('default.index') }}">Home</a></li>
                    <li><a href="#TODO">Link_41</a></li>
                    <li><a href="#TODO">Link_InPark</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <li><a href="#TODO">My Appointments</a></li>
                        <li><a href="{{ path('users.index') }}">My Profile</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block javascripts %}

            <!-- JS : JQuery (3.2.1) -->
            <script src="/{{ asset('assets/js/jquery-3.2.1.js') }}"></script>
            <!-- JS : Popper -->
            <script src="{{ asset('assets/js/popper.js') }}"></script>
            <!-- JS : Bootstrap (4.0.0-beta.2) -->
            <script src="{{ asset('assets/js/bootstrap.js') }}"></script>

        {% endblock %}
    </body>
</html>
