{% extends 'base.html.twig' %}

{% block title %}

    {# DocInTime - Find a Doctor, now. [Doctor - Appointment Details] #}
    DocInTime - Trouver un Docteur, maintenant. [Docteur - Détails du RDV]

{% endblock %}

{% block content %}

    {# TODO : REVIEW THIS TWIG -- COPY :appointments:display_details.html.twig ? #}

    <div class="result details">
        <div class="row">
            <div class="col-2">

                <div class="image">
                    <img class="img-fluid img-thumbnail" src="/assets/images/profil.png" alt="Card image cap">
                </div>

            </div>

            <div class="col-4">
                <div class="name">
                    Dr. {{ appointment.doctor.lastName }}
                </div>

                <div class="spe">
                    {% set doctor_specialities = [] %}

                    {% for speciality in appointment.doctor.specialities %}
                        {% set doctor_specialities = doctor_specialities|merge([speciality.name]) %}
                    {% endfor %}
                    {{ doctor_specialities|join(' - ') }}
                </div>
            </div>

            <div class="col-6">
                <div class="time">
                    {{ appointment.StartTime | date("H:i") }} - {{ appointment.EndTime | date("H:i") }}
                </div>
            </div>
        </div>
        <div class="row desc">
            Description :<br/>{{ appointment.Description }}

            <div class="bg-warning">
                {# TODO : Better displaying of Appointment's Specialities ! #}
                Specialities (TEMP) :
                {% set appt_specialities = [] %}
                {% for speciality in appointment.specialities %}
                    {% set appt_specialities = appt_specialities|merge([speciality.name]) %}
                {% endfor %}
                {{ appt_specialities|join(' - ') }}
            </div>
        </div>

    </div>

    <form action="" method="post">
        <div class="form-group">
            <label for="inputDetails">Détails du rendez-vous</label>
            <textarea name="details" id="inputDetails" class="form-control" cols="30" rows="5">{{ appointment.summary }}</textarea>
        </div>
        <input type="hidden" value="{{ csrf_token('intention') }}" name="_token">

        <span class="btn-group menu-bottom-unspaced">
            <input type="submit" class="btn btn-danger" value="Clôturer ce rendez-vous">
            <a href="{{ path('doctor_panel') }}" role="button" class="btn btn-primary">Retour à la gestion des Créneaux</a>
        </span>

    </form>

{% endblock %}