{% extends 'base.html.twig' %}

{% block title %}

    {# DocInTime - Find a Doctor, now. [Doctor - Registration] #}
    DocInTime - Trouver un Docteur, maintenant. [Docteur - Inscription]

{% endblock %}

{% block page_title %}

    <h1 class="page_title">Inscription en tant que Médecin</h1>

{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <h2>Informations</h2>

        <div class="row">

            <div class="form-group col-sm-6">
                {{ form_label(form.email, 'Adresse email') }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group col-sm-6">
                {{ form_label(form.phone, 'Téléphone') }}
                {{ form_widget(form.phone) }}
                {{ form_errors(form.phone) }}
            </div>
        </div>

        <div class="row">

            <div class="form-group col-sm-6">
                {{ form_label(form.last_name, 'Nom') }}
                {{ form_widget(form.last_name) }}
                {{ form_errors(form.last_name) }}
            </div>

            <div class="form-group col-sm-6">
                {{ form_label(form.first_name, 'Prénom') }}
                {{ form_widget(form.first_name) }}
                {{ form_errors(form.first_name) }}
            </div>

        </div>

        <div class="row">

            <div class="form-group col-sm-6">
                {{ form_label(form.plainPassword.first, 'Mot de passe') }}
                {{ form_widget(form.plainPassword.first, {label: 'Mot de passe'}) }}
                {{ form_errors(form.plainPassword) }}
            </div>

            <div class="form-group col-sm-6">
                {{ form_label(form.plainPassword.second, 'Confirmez votre mot de passe') }}
                {{ form_widget(form.plainPassword.second, {label: 'Mot de passe'}) }}
                {{ form_errors(form.plainPassword) }}
            </div>

        </div>

        <h2>Adresse</h2>
        {{ form_errors(form.address) }}
        {{ form_widget(form.address) }}

        {{ form_row(form.specialities) }}
        <hr>

    {{ form_end(form)}}

{% endblock %}